{% extends 'base.html.twig' %}

{% block title %}<h1>Les étudiants</h1>{% endblock %}

{% block body %}

<ul>
    {% for student in students %}
    <li><a href="{{ path('app_showDetailsStudent', {'id': student.id}) }}">{{ student.firstName }} {{ student.lastName }}</a></li>    {% endfor %}
</ul>

{# <br>
<a href="{{ path('app_home') }}">Retour à l'accueil</a> #}


{% endblock %}
