{% extends 'base.html.twig' %}

{% block title %}Les étudiants{% endblock %}

{% block body %}

<ul>
    {% for student in students %}
    <li><a href="{{ path('app_showDetailsStudent', {'id': student.id}) }}">{{ student.firstName }} {{ student.lastName }}</a></li>   
    {% endfor %}
</ul>

{% endblock %}
