{% extends 'base.html.twig' %}

{% block title %} Les formations{% endblock %}

{% block body %}
      <div class="basic-tab">

        <table>
          <thead>
            <tr>
              <th>Titre de la formation ({{ formations|length }})</th>
              <th>Sessions</th>
            </tr>
          </thead>
          <tbody>
            {% for formation in formations %}
              <tr>
                <td class="firstTd">{{ formation.titleFormation }}</td>
                <td><a href="{{ path('formation_sessions', {'id': formation.id}) }}">Voir les sessions</a></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>

      </div>
{# <br>
<a href="{{ path('app_home') }}">Retour à l'accueil</a> #}


{% endblock %}
