{% extends 'base.html.twig' %}

{% block title %}Hello FormationController!{% endblock %}

{% block body %}

{% for formation in formations %}        
    {# Rajouter la path#}
    <a href="{{ path('formation_sessions', {'id': formation.id}) }}">{{ formation.titleFormation }}</a> <br>
   
{% endfor %}

{% endblock %}
