{% extends 'base.html.twig' %}

{% block title %}Hello FormationController!{% endblock %}

{% block body %}

<h1>Liste des formations</h1>

          {% for formation in formations %}
            <a href="{{ path('formation_sessions', {'id': formation.id}) }}">{{ formation.titleFormation }}</a> <br>
          {% endfor %}
{# <br>
<a href="{{ path('app_home') }}">Retour à l'accueil</a> #}


{% endblock %}
