/* Reset CSS */

/* Remove default margin */
body,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
dl, dd, ol, ul,
figure,
table, caption,
fieldset, legend {
    margin: 0;
    padding: 0;
}

/* Remove default list styles */
ol, ul {
    list-style: none;
}

/* Set default font family and size */
body {
    font-family: sans-serif;
    font-size: 1rem;
}

/* Remove default text decoration */
a {
    text-decoration: none;
    /* color: var(--color-secondary); */
}

/* Set default box-sizing */
*, *::before, *::after {
    box-sizing: border-box;
}

/* Enlever la couleur des liens */
/* nav a:visited {
    color: var(--color-white);
  } */

/* table a:visited { */
/* color: var(--color-white);
} */

span { 
  text-transform: uppercase;
  font-size: 1rem;
}

/* ************ Colors **************** */

:root {
    --color-primary: #e1f4ff;
    /* --color-primary: #eba820; */
    --color-secondary: #0d17df;
    --color-accent: #4c71df;
    --color-black: #000000;
    --color-white: #222222;
    --color-green: #25ad1d;
    --color-red: #b51616;
  }

  .green {
      color: var(--color-green);
  }

  .backgreen {
    background-color: var(--color-green);
  }

  .green:visited {
    color: var(--color-green);
}

  .red {
    color: var(--color-red);
  }

  .backred {
    background-color: var(--color-red);
  }

  .red:visited {
    color: var(--color-red);
  }

/* **************************** */

/* ************* HEADER ************* */

.page-title {
    color: var(--color-accent);
    margin: 5vw auto 5vw auto;
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
}

.page-title h1 {
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
}

  /* Style pour la barre de menu */
  header {
    background-color: var(--color-accent);
    overflow: hidden;
    position: relative;
}

nav {
    float: right;
    padding: 15px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    text-align: center;
}

nav li {
    display: inline-block;
    margin-left: 20px;
}

nav ul li a {
    color: var(--color-white);
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
}

/* **************** BASIC TAB ********************* */

.basic-tab {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    
  }

  .basic-tab-module {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    margin: 50px auto 0 auto;
    padding-left: 11vw;
  }

  table {
    width: 60%;
    border-collapse: separate; /* border-collapse: separate; pour utiliser border-spacing: 0; */
    border-spacing: 0;
    border-radius: 5px;
    overflow: hidden; /* Pour que border radius soit appliqué */
    background-color: var(--color-primary);
  }

  table tr {
    background-color: var(--color-primary);
  }
  
  table td {
    padding: 2vw 2vw 1vw 5vw;
    /* vertical-align: top;  */
    width: 50%; 
    text-align: left; 
    font-size: 1rem;
  }

  table th {
    padding: 1vw;
    vertical-align: top; 
    width: 50%; 
    text-align: center; 
    font-size: 1.5rem;
  }

 .reset{
    padding-left: 0;
    margin-left: -5.5vw;
  }

 /* table td a {
  padding-left: 3.5vw;
 } */
  
  table td {
    color: var(--color-white);
    font-weight: bold;
  }
  
  /* table tr:nth-child(odd) {
    background-color: var(--color-primary);
  }
  
  table tr:nth-child(even) {
    background-color: var(--color-accent);
  } */
  
  table th {
    background-color: var(--color-accent);
    color: var(--color-white);
  }

  table {
    border: solid 2px black;
  }

  table th {
    border: solid 1px black;
  }

  .flexTab {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    margin: 0 10vw; 
  }

  .addingTd {
    padding-left: 5vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-gap: 2vw;  */
  }

  .addingTd2 {
    padding-left: 5vw;
  }

  .addingTd2 a{
    color: inherit;
  }

  .addingTd2 span {
    text-align: justify;
    margin-left: 5vw;
    margin-right: 6vw;
  }

  .firstTd {
    padding-left: 8.5vw;
  }

  .tabDetailSession {
    width: 80%;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 5px;
    overflow: hidden;
    table-layout: fixed; 
  }

  .tabDetailSession1 {
    width: 75%;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 5px;
    overflow: hidden;
    table-layout: fixed; 
    margin-right: -6vw;
  }

  .tabDetailSession2 {
    width: 75%;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 5px;
    overflow: hidden;
    table-layout: fixed; 
    margin-left: -6vw;
  }

  .tabDetailSessionFlex {
    display: flex;
  }

  .text-center {
    padding-left: 2.5vw;
  }

  .tabDetailSession3 {
    width: 50%;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 5px;
    overflow: hidden;
    table-layout: fixed; 
    margin-left: -6vw;
  }
/* *************** INSCRIPTION ********************** */

.alert {
  margin-bottom: 1rem;
}

form {
  max-width: 500px;
  margin: 0 auto;
}

input[type="number"],
input[type="datetime-local"],
input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-bottom: 1rem;
}

select {
  width: 100%;
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-bottom: 1rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

button[type="submit"] {
  background-color: var(--color-accent);
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin-top: 1rem;
}

.btn {
  background-color: var(--color-green);
  border: none;
  color: white;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  padding: 10px 24px;
  text-decoration: none;
  transition-duration: 0.4s;
  border-radius: 4px;
  transition: 0.5s;
}

.btnMargin {
  margin-left: 5vw;
}

.btn:hover {
  background-color: rgb(112, 216, 112);
  
}

.btnRed {
  background-color: var(--color-red);
  border: none;
  color: white;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  padding: 10px 24px;
  text-decoration: none;
  transition-duration: 0.4s;
  border-radius: 4px;
  transition: 0.5s;
}

.btnRed:hover {
  background-color: rgb(189, 97, 97);
  transition: 0.5s;
}

.btnBlue {
  background-color: var(--color-accent);
  border: none;
  color: white;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  padding: 10px 24px;
  text-decoration: none;
  transition-duration: 0.4s;
  border-radius: 4px;
  transition: 0.5s;
}

.btnBlue:hover {
  background-color: #7e97e0;
  transition: 0.5s;
}


.add {
  margin: 0 20vw;
  width: 15vw;
  display: flex;
  margin-bottom: -2vw;
}

.add a {
  font-size: 1rem;
}

.flex-container {
  display: flex;
  align-items: center;
}


/* ************************************************ */



/* Style pour le buton menu mobile */
.icon {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px;
    cursor: pointer;
}

/* ********************** MESSAGE FLASH ************************** */

.flash-message {
  position: fixed;
  top: 1vw;
  left: 5vw; 
  padding: 15px;
  background-color: #4caf50;
  color: white;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  z-index: 1000;

}

.flash-message.warning {
  background-color: #f57f17;
}

.flash-message.error {
  background-color: #f44336;
}

.flash-message.hidden {
  opacity: 0;
}

/* ********************** SCROLL TO TOP **************************** */


.btn-scroll-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  background: var(--color-accent);
  color: #f80101;
  width: 3vw;
  height: 3vw;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  font-size: 20px;
}

.btn-scroll-top:hover {
  background: var(--color-secondary);
  color: #ef0d0d;
}

.btn-scroll-top.show {
  display: block;
}




/* ************************************************** */
@media screen and (max-width: 600px) {
    nav {
        display: none;
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
        text-align: center;
    }
    
    li {
        display: block;
        margin: 10px 0;
    }

    .icon {
        display: block;
    }
}