/* Reset CSS */

/* Remove default margin */
body,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
dl, dd, ol, ul,
figure,
table, caption,
fieldset, legend {
    margin: 0;
    padding: 0;
}

/* Remove default list styles */
ol, ul {
    list-style: none;
}

/* Set default font family and size */
body {
    font-family: sans-serif;
    font-size: 1rem;
}

/* Remove default text decoration */
a {
    text-decoration: none;
    /* color: var(--color-secondary); */
}

/* Set default box-sizing */
*, *::before, *::after {
    box-sizing: border-box;
}

/* Enlever la couleur des liens */
nav a:visited {
    color: var(--color-white);
  }

table a:visited {
color: var(--color-white);
}

span { 
  text-transform: uppercase;
  font-size: 1rem;
}

/* ************ Colors **************** */

:root {
    --color-primary: #f6daa2;
    /* --color-primary: #eba820; */
    --color-secondary: #0d17df;
    --color-accent: #dd7b47;
    --color-black: #000000;
    --color-white: #3c3c3c;
    --color-green: #178911;
    --color-red: #b51616;
  }

  .green {
      color: var(--color-green);
  }

  .backgreen {
    background-color: var(--color-green);
  }

  .green:visited {
    color: var(--color-green);
}

  .red {
    color: var(--color-red);
  }

  .backred {
    background-color: var(--color-red);
  }

  .red:visited {
    color: var(--color-red);
  }

/* **************************** */

/* ************* HEADER ************* */

.page-title {
    color: #eba820;
    margin: 5vw auto 5vw auto;
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
}

.page-title h1 {
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
}

  /* Style pour la barre de menu */
  header {
    background-color: var(--color-accent);
    overflow: hidden;
    position: relative;
}

nav {
    float: right;
    padding: 15px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    text-align: center;
}

nav li {
    display: inline-block;
    margin-left: 20px;
}

nav ul li a {
    color: var(--color-white);
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
}

/* **************** BASIC TAB ********************* */

.basic-tab {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    
  }

  .basic-tab-module {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    margin: 50px auto 0 auto;
    padding-left: 11vw;
  }

  table {
    width: 60%;
    border-collapse: separate; /* border-collapse: separate; pour utiliser border-spacing: 0; */
    border-spacing: 0;
    border-radius: 5px;
    overflow: hidden; /* Pour que border radius soit appliqué */
  }
  
  table td {
    padding: 2vw 0 2vw 8vw;
    vertical-align: top; 
    width: 50%; 
    text-align: left; 
    font-size: 1rem;
  }

  table th {
    padding: 1vw;
    vertical-align: top; 
    width: 50%; 
    text-align: center; 
    font-size: 1.5rem;
  }

 .reset{
    padding-left: 0;
    margin-left: -5.5vw;
  }

 table td a {
  padding-left: 3.5vw;
 }
  
  table td {
    color: var(--color-white);
    font-weight: bold;
  }
  
  table tr:nth-child(odd) {
    background-color: var(--color-primary);
  }
  
  table tr:nth-child(even) {
    background-color: var(--color-accent);
  }
  
  table th {
    background-color: var(--color-accent);
    color: var(--color-white);
  }

  .flexTab {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    margin: 0 10vw; 
  }

  .addingTd {
    padding-left: 2.5vw;
  }

  .firstTd {
    padding-left: 8.5vw;
  }

  .tabDetailSession {
    width: 80%;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 5px;
    overflow: hidden;
    table-layout: fixed; 
  }

  .text-center {
    padding-left: 2.5vw;
  }



/* *************** INSCRIPTION ********************** */

.alert {
  margin-bottom: 1rem;
}

form {
  max-width: 500px;
  margin: 0 auto;
}

input[type="number"],
input[type="datetime-local"],
input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-bottom: 1rem;
}

select {
  width: 100%;
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-bottom: 1rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

button[type="submit"] {
  background-color: var(--color-accent);
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin-top: 1rem;
}

/* ************************************************ */


/* Style pour le buton menu mobile */
.icon {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px;
    cursor: pointer;
}


/* ************************************************** */
@media screen and (max-width: 600px) {
    nav {
        display: none;
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
        text-align: center;
    }
    
    li {
        display: block;
        margin: 10px 0;
    }

    .icon {
        display: block;
    }
}