{% extends 'base.html.twig' %}

{% block title %}Les programmes{% endblock %}

{% block body %}

{# <table class="tabDetailSession">

    <thead>
      <tr>
        <th colspan="2">Informations</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="text-center">Session :</td>
        <td class="margin text-center">{{ session.former.firstName }} {{ session.former.lastName }}</td>
      </tr>
      <tr>
        <td class="text-center">Module :</td>
        <td class="reset text-center">{{ session.dateBegin|date('d/m/Y') }}</td>
      </tr>
      <tr>
        <td class="text-center">Durée :</td>
        <td class="reset text-center">{{ session.dateEnd|date('d/m/Y') }}</td>
      </tr>
    </tbody> #}

</table>

{% endblock %}
