{% extends 'base.html.twig' %}

{% block title %}Hello FormerController!{% endblock %}

{% block body %}
    <h1>Liste des formateurs :</h1>

    <ul>
        {% for former in formers %}
            <li>{{ former.firstName }} {{ former.lastName }}</li>
        {% endfor %}
    </ul>

    {# <br>
    <a href="{{ path('app_home') }}">Retour à l'accueil</a> #}
{% endblock %}

